{
  "fileInfoOptions": {
    "withNodeModules": true
  },
  "parser": "flow",
  "usePrettierrc": false,
  "trailingComma": "es5",
  "singleQuite": true,
  "printWidth": 100,
  "tabWidth": 2,
  "semi": true
}
